* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
}

img {
    width: 50vw;
    height: 100vh;
    display: block;
    object-fit: cover;
    object-position: center;
}

.left {
    width: 50vw;
}

.right {
    width: 50vw;
    text-align: center;
    color: black;
}